@font-face{
    font-family: "RetroWave";
    src: url('font.ttf');
}
body {
    font-family: "RetroWave", cursive;
	background-color:rgb(243, 243, 243);
}
#hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 50px;
	height: calc( 100vh - 80px );
	background: url("invincible.png");
	background-size: cover;
	background-position: center center;
	color: white;
	text-align: center;
	text-shadow: 0 0 3px black;
}

#hero h1 {
	font-size: 3em;
	font-weight: bold;
	line-height: 1.5em;
}

#hero a {
	font-size: 1.3em;  
	color: inherit;
}
